# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# VS Code
.vscode/

# Mac
.DS_Store

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage
htmlcov/
.coverage